node_modules/
packages/*/dist
packages/*/build
packages/*/lib
.turbo/
.swc/
*.tsbuildinfo

# Docsite artifacts
packages/docsite/public
packages/docsite/.cache
packages/docsite/static/examples_js
packages/docsite/static/examples_ts

# Next.js
packages/*/.next

# Test artifacts
coverage/
test-results.xml

# Misc
*-*.log
.idea
.DS_Store
.rollup.cache/
